---
const heroImage = "https://images.pexels.com/photos/36029/aroni-arsa-children-little.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1";
---

<section class="hero min-h-[70vh] bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src={heroImage} class="max-w-sm rounded-lg shadow-2xl" alt="Baby wearing sport shoes" />
    <div>
      <h1 class="text-5xl font-bold">Little Steps, Big Adventures!</h1>
      <p class="py-6">Discover our collection of comfortable and stylish sport shoes designed specifically for your little ones. Perfect for every step of their journey.</p>
      <a href="/collections/new" class="btn btn-primary">Shop Now</a>
    </div>
  </div>
</section>